<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website For My Father</title>
    <link rel="stylesheet" href="index.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
         <div class="dropdown">
            <ul class="solid">
                <a style="color: white; font-size: 2px;" href="Index.html"><img style="color: white; width: 53px; position: relative; top: 2px;" src="20220416_041552.jpg" alt=""></a>
                <li class="s"><a class="d" href="Index.html">Home</a>
                    <li class="s"><a class="d" href="contact.html">Contact</a>
                </li>
                  <li class="s"><a class="d" href="about.html">About</a></li>
                <li class="s"><a class="d" href="Service.html">Service</a></li>
            </ul>
         </div>
          <div class="hero">
            <div class="right" style="position: relative; top: 69px;">
                <p style="font-size: 17px;">The name of my is Adebayo Muydeen.<br>
                He is for Company called Axxess and<br> he is a Software Engineer.<br>
                Axxess is a Software Company.<br>
             In the called Axxess has three type of work<br>they are Full-Stack,back-end,front-end.
             <br>My father is a back-end.<br>
             <button>Download</button>
            </p>
            </div>
            <div class="left">
                <img src="SSC_2237.jpg" width="300" alt="">
            </div>
          </div>
          <footer>
            <div class="row">
                <div class="col">
                    <h1 class="logo">                <a style="color: white; font-size: 2px;" href="Index.html"><img style="color: white; width: 53px; position: relative; top: 2px;" src="20220416_041552.jpg" alt=""></a>
                    </h1>
                    <p>Subscribe Easy Tutorials Youtube channel to watch more videos on
                        website development and Press the bell icon to get immediate
                         notification of latest videos.
                    </p>
                </div>
                <div class="col">
                    <h3>link to communcation <div class="underline"><span></span></div></h3>
                    <p><a href="">gmail</a></p>
                    <p><a href="">github</a></p>
                    <p><a href="">linkdein</a></p>
                </div>
                <div class="col">
                    <h3>Links <div class="underline"><span></span></div></h3>
                    <a href="Index.html">Home</a>
                    <a href="contact.html">Contact</a>
                    <a href="about.html">About</a>
                    <a href="Service.html">Service</a>
                </div>
                <div class="col">
                    <h3>Newsletter <div class="underline"><span></span></div></h3>
                    <form> 
                        <i class="far fa-envelope"></i>
                        <input type="email" placeholder="Enter your email id" required>
                        <button type="submit "><i class="fas fa-arrow-right"></i></button>
                    </form>
                    <!-- <div class="social-icons">
                        <i class="fb"><img src="SSC_2237.jpg" width="93px" alt=""></i>
                    </div> -->
                </div>
            </div>
            <hr  >
            <p class="copyright">Awwal Adebayo @ 2023 - All Rights Reserved</p>
          </footer>
    </div>
</body>
<script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</html>