body{
    background: rgb(3, 3, 46);
    color: rgb(211, 208, 208);
}
.s{
    text-decoration: none;
    font-weight: bold;
    display: flex;
}
.solid{
    display: flex;
    gap: 64px;
}
.d{
    text-decoration: none;
    font-weight: bold;  
}
button{
    width: 102px;
    height: 33px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: #0a0606;
    border-top: black;
    border-left: black;
}
img{
    position: relative;
    left: 56%;
    bottom: 203px;
    border-radius: 340px;
}
.drop{
    display: none;
}
.drop:hover a{
     display: block;
}

@media (max-width:700px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}

@media (max-width:600px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
    
@media (max-width:500px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}
}

@media (max-width:400px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}

@media (max-width:300px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}

@media (max-width:200px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}

@media (max-width:100px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}

@media (max-width:100px){
    body{
        bottom: unset;
    }
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right,#11173b,#1a0d08);
        color: #fff;
        padding: 1px 0 230px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .col{
        flex-basis: 12%;
        padding: 3px;
    }
    .col:nth-child(2),.col :nth-child(3){
        flex-basis: 15%;
    
    }
    .logo{
        width: 80px;
        margin-bottom: 30px;
    }
    .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    a{
        display: flex;
        color: #fff;
        text-decoration: none;
    }
    form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    form .far{ 
        font-size: 18px;
        margin-right: 20px;
    }
    form input{
        width: 120px;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none;
    }
    form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    form button .fas{
        font-size: 16px;
        color: #ccc;
    }
    .social-icons .fab{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #000;
        background: #ffff;
        margin-right: 15px;
        cursor: pointer;
    }
    .hr{
         width: 90%;
         border: 0;
         border-bottom: 1px solid #ccc;
         margin: 20px auto;
    }
    
    .copyright{
        text-align: center;
    }
    .underline{
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background: #111a97;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        width: 15px;
        height: 100%;
        background: rgb(7, 7, 53);
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    @keyframes moving{
       0%{
        left: -40px;
       }
       100%{
        left: 200%;
       }
    }
    .fab{
        width: 300%;
        position: relative;
        top: 19%;
        left: 49%; 
    }
    .fb{
        position: absolute;
        top: 99%;
        left: 331px;
    }
}